/* BASE */

:root {
    /* BACKGROUND */
    --bg-color: #0b043c;
    --shadow-size: 0px 0px 5px 0px;
    /* TEXT */
    --text-color1: #65b83f;
    --text-color2: #ffffff;
    /* GRID */
    --grid-color: #0b043c;
    --grid-border1: linear-gradient(-45deg, #00d9ff, #ffffff);
    --grid-border2: linear-gradient(-45deg, #ff0000, #fae900);
    /* CELLS */
    --cell-color-bg: #00c1fc;
    --cell-color-hover: #ff0000;
    --cell-color-border: #ffffff36;
    --cell-size-default: 2rem;
    --cell-size-small: 1rem;
    --cell-size-medium: 2rem;
    --cell-size-large: 2.5rem;
    --cell-size-huge: 3rem;
    /* CELL EVENTS */
    --hit: radial-gradient(circle, #fff400 8%, #ba0505 55%);
    --miss: #0f3366;
    /* SHIPS */
    --destroyer-color: rgb(173, 20, 0);
    --destroyer-border: rgb(255, 8, 0);
    --submarine-color: rgb(196, 152, 11);
    --submarine-border: rgb(240, 209, 106);
    --cruiser-color: rgb(55, 158, 7);
    --cruiser-border: rgb(122, 240, 106);
    --battleship-color: rgb(51, 63, 236);
    --battleship-border: rgb(106, 137, 240);
    --carrier-color: rgb(70, 6, 153);
    --carrier-border: rgb(157, 106, 240);
    /* BREAKPOINTS FOR MEDIA QUERIES */
    --breakpoint-small: 576px;
    --breakpoint-medium: 768px;
    --breakpoint-large: 992px;
    --breakpoint-huge: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Kanit', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
    background: var(--bg-color);
    background-size: cover;
}

html,
body {
    font-size: 100%;
    color: white;
}

/* HEADER */

.title {
    font-size: 2.2rem;
    margin: 1.5rem 0 0 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color1);
}

.title a,
a:visited {
    display: inline-block;
    color: var(--text-color2);
    font-size: 2rem;
    transition: all 0.3s ease;
}

a:hover {
    color: var(--text-color1);
    transform: rotate(360deg);
}

/* CONTAINERS */

.game-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 20rem;
    height: auto;
}

.fleet-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color2);
    top: 26rem;
    font-size: 1rem;
    width: auto;
    height: 14rem;
}

.fleet-container.slide-in {
    transform: translateX(0);
    opacity: 1;
    z-index: 0;
    transition: all 0.7s ease;
}

.fleet-container.slide-out {
    transform: translateY(-16rem);
    opacity: 0;
    transition: all 0.7s ease;
    z-index: -1;
}

.fleet-container h1 {
    font-size: inherit;
}

.fleet-info {
    display: none;
    font-size: 1rem;
    color: inherit;
    text-align: center;
    transition: opacity 1s ease;
}

.fleet-info.show {
    visibility: visible;
    opacity: 1;
}

.fleet-info.hide {
    visibility: hidden;
    opacity: 0;
}

.fleet-draggable {
    display: none;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-around;
    width: 11rem;
    height: 19rem;
}

.gameboards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
    width: 44rem;
    height: auto;
}

.gameboard {
    transition: all 1s ease;
}

.p2-gameboard.hide {
    visibility: hidden;
    opacity: 0;
}

.p2-gameboard.show {
    visibility: visible;
    opacity: 1;
}

.info-container {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--text-color2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 2s ease;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.6rem;
}

.info-container.show {
    visibility: visible;
    opacity: 1;
}

/* GRIDS */

.grid-disabled {
    transform: scale(0.8);
    transition: all 1s ease;
    opacity: 0.7;
}

.grid {
    box-sizing: content-box;
    background-color: var(--grid-color);
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    width: 20rem;
    height: 20rem;
}

.grid-title {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
    color: var(--text-color2);
}

.grid-cell {
    border: 1px solid var(--cell-color-border);
}

.grid-cell:hover {
    border-radius: 5px;
}

.p1-grid {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: var(--grid-border1);
    cursor: none;
}

.p1-grid .grid-cell:hover {
    cursor: crosshair;
    background-color: var(--cell-color-bg);
    -webkit-box-shadow: 0px 0px 5px 0px var(--cell-color-bg);
    -moz-box-shadow: 0px 0px 5px 0px var(--cell-color-bg);
    box-shadow: 0px 0px 5px 0px var(--cell-color-bg);
}

.p2-grid {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: var(--grid-border2);
}

.p2-grid .grid-cell:hover {
    cursor: crosshair;
    background-color: var(--cell-color-hover);
    -webkit-box-shadow: 0px 0px 5px 0px var(--cell-color-hover);
    -moz-box-shadow: 0px 0px 5px 0px var(--cell-color-hover);
    box-shadow: 0px 0px 5px 0px var(--cell-color-hover);
}

.hit {
    background: var(--hit);
    clip-path: polygon(
        49% 0,
        61% 19%,
        100% 1%,
        79% 36%,
        97% 40%,
        83% 53%,
        96% 73%,
        76% 74%,
        80% 100%,
        59% 79%,
        46% 100%,
        38% 81%,
        0 100%,
        19% 67%,
        4% 62%,
        19% 47%,
        0 31%,
        26% 30%,
        13% 1%,
        41% 21%
    );
}

.miss {
    background-color: var(--miss);
}

/* MEDIA QUERIES */

/* SMALL */
@media screen and (min-width: 576px) {
    
    /* HEADER */

    .title {
        font-size: 3rem;
        margin: 2rem;
    }

    /* CONTAINERS */

    .game-container {
        flex-direction: row;
        width: 22rem;
        height: auto;
    }

    .fleet-container {
        top: 0;
        right: 3rem;
        font-size: 1rem;
        width: auto;
        height: 12.5rem;
    }

    .fleet-info {
        display: none;
    }

    .fleet-draggable {
        display: none;
        width: 5.5rem;
        height: 9.5rem;
    }

    .gameboards-container {
        flex-direction: row;
        width: 22rem;
        height: auto;
    }

    .info-container {
        font-size: 1.8rem;
    }
    
    /* GRIDS */

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
        width: 10rem;
        height: 10rem;
    }
    
    .grid-title {
        margin: 1rem 0;
        font-size: 1rem;
    }
    
    .grid-cell {
        width: 1rem;
        height: 1rem;
    }

}

/* MEDIUM */
@media screen and (min-width: 768px) {

    /* HEADER */
    
    .title {
        font-size: 5rem;
        margin: 2rem;
    }

    /* CONTAINERS */

    .game-container {
        flex-direction: row;
        width: 44rem;
        height: auto;
    }

    .fleet-container {
        top: 0;
        right: 6rem;
        font-size: 1.3rem;
        width: auto;
        height: 25rem;
    }

    .fleet-info {
        display: none;
    }

    .fleet-draggable {
        display: none;
        width: 11rem;
        height: 19rem;
    }

    .gameboards-container {
        flex-direction: row;
        width: 44rem;
        height: auto;
    }

    .info-container {
        font-size: 2.5rem;
    }
    
    /* GRIDS */

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
        width: 20rem;
        height: 20rem;
    }
    
    .grid-title {
        margin: 1rem 0;
        font-size: 1.3rem;
    }
    
    .grid-cell {
        width: 2rem;
        height: 2rem;
    }
}

/* LARGE */
@media screen and (min-width: 992px) {

    /* HEADER */

    .title {
        font-size: 5rem;
        margin: 3rem;
    }

    /* CONTAINERS */

    .game-container {
        flex-direction: row;
        width: 55rem;
        height: auto;
    }

    .fleet-container {
        top: 0;
        right: 7.5rem;
        font-size: 1.5rem;
        width: 17.5rem;
        height: 33.75rem;
    }

    .fleet-info {
        display: inline-block;
        width: 17.5rem;
        height: auto;
    }

    .fleet-draggable {
        display: flex;
        width: 13.75rem;
        height: 23.75rem;
    }

    .gameboards-container {
        flex-direction: row;
        width: 55rem;
        height: auto;
    }

    .info-container {
        font-size: 3rem;
    }

    /* GRIDS */
    
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
        width: 25rem;
        height: 25rem;
    }
    
    .grid-title {
        margin: 1rem 0;
        font-size: 1.5rem;
    }
    
    .grid-cell {
        width: 2.5rem;
        height: 2.5rem;
    }
}

/* HUGE */
@media screen and (min-width: 1200px) {

    /* HEADER */
    
    .title {
        font-size: 5rem;
        margin: 3.5rem;
    }

    /* CONTAINERS */
    
    .game-container {
        flex-direction: row;
        width: 66rem;
        height: auto;
    }

    .fleet-container {
        top: 0;
        right: 9rem;
        font-size: 1.8rem;
        width: 21rem;
        height: 40.5rem;
    }

    .fleet-info {
        display: inline-block;
        width: 21rem;
        height: auto;
    }

    .fleet-draggable {
        display: flex;
        width: 16.5rem;
        height: 28.5rem;
    }

    .gameboards-container {
        flex-direction: row;
        width: 66rem;
        height: auto;
    }

    .info-container {
        font-size: 3.5rem;
    }

    /* GRIDS */

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
        width: 30rem;
        height: 30rem;
    }
    
    .grid-title {
        margin: 1rem 0;
        font-size: 1.8rem;
    }
    
    .grid-cell {
        width: 3rem;
        height: 3rem;
    }
}